<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.yaofang.auto_application_test"
    android:sharedUserId="android.uid.system"> 
       
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>    
	<uses-permission android:name="android.car.permission.CAR_SPEED" />
    <uses-permission android:name="android.car.permission.CAR_MILEAGE" />
    <uses-permission android:name="android.car.permission.CAR_FUEL" />
	<uses-permission android:name="android.car.permission.CAR_DISPLAY_IN_CLUSTER"/>
	<uses-permission android:name="android.car.permission.VEHICLE_DYNAMICS_STATE"/>
    
    <application
		android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
		
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".SensorController"
				android:enabled="true"
				android:exported="false"/>
        
        <meta-data
			android:name="android.car.application"
			android:resource="@xml/automotive_app_desc" />
    </application>

</manifest>
